*,
*>* {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button {
  color: inherit;
  text-decoration: inherit;
}

button {
  &:not([disabled]) {
    cursor: pointer;
  }

  &.button--transparent {
    background: transparent;
    border: none;
    padding: 0;
  }
}

img {
  max-width: 100%;
}

.svg {
  width: 100%;
}