@use 'functions' as *;

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family--base);
  font-size: linearClamp(1.25, 1.125);
  background: var(--color-background-gradient-1);
  color: var(--color-text--1);
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: lightblue;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.section {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}