::selection {
  color: var(--color-text--2) !important;
  background-color: var(--color-background--2) !important;
  -webkit-background-clip: unset !important;
  background-clip: unset !important;
  -webkit-text-fill-color: var(--color-text--2) !important;
}