@use "functions" as *;

.heading {
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.04em;
  margin: 0;
  font-size: linearClump(1.5, 1.25);

  &--l {
    font-weight: 500;
    font-size: linearClump(2, 1.5);
    letter-spacing: -0.03em;

  }

  &--xl {
    font-weight: 700;
    font-size: linearClump(3, 2);
    letter-spacing: -0.06em;

  }
}

.paragraph {
  letter-spacing: -0.03em;
  line-height: 150%;
  font-weight: 500;
  font-size: linearClump(1, 0.875);

  &--l {
    font-size: linearClump(1, 0.875);
    font-weight: 600;
    line-height: 100%;
  }

  &--xl {
    font-size: linearClump(1.25, 1.125);
    font-weight: 600;
    line-height: 110%;
  }
}