:root {
  --font-family--base: 'Geist', 'Roboto', 'Arial', 'Helvetica', sans-serif;

  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --transition-default: all var(--transition-duration) var(--transition-timing-function);

  --border-radius--1: 0.5rem;
  --border-radius--2: 0.75rem;
  --border-radius--3: 100vmax;
  --border-radius--4: 1.25rem;

  --palette--1: #2f2e2e;
  --palette--2: #ffffff;
  --palette--3: #e9e9e9;
  --palette--4: #e8efff;
  --palette--5: #1657ff;
  --palette--6: #27ae60;
  --palette--7: #ffab36;
  --palette--8: #999999;
  --palette--9: #fae7e7;
  --palette--10: #fa4040;
  --palette--11: #94b2e4;
  --palette--12: #f2eff6;
  --palette--13: #f9f9f9;
  --palette--14: #efefef;
  --palette--15: #e4f1e9;
  --palette--16: #4e80fd;
  --palette--17: #fdc270;
  --palette--18: #f9e7e7;
  --palette--19: #f9e7e780;
  --palette--20: #e2e9fa;
  --palette--21: #e3eafa80;
  --palette--22: #043bca;
  --palette--23: #d9d9d9;

  // main theme for the whole project
  --color-text--1: var(--palette--1);
  --color-background--1: var(--palette--2);
  --color-background-gradient-1: linear-gradient(180deg, var(--palette--11), var(--palette--12));

  // dark theme
  --color-text--2: var(--palette--2);
  --color-background--2: var(--palette--1);

  // theme for the list of pages
  --color-text--3: var(--palette--8);
  --color-background--3: var(--palette--13);

  // Base button
  --color-text--button: var(--palette--8);
  --color-background--button: var(--palette--13);
  --color-border--button: var(--palette--13);
  --color-text-hover--button: var(--palette--8);
  --color-background-hover--button: var(--palette--14);
  --color-border-hover--button: var(--palette--14);

  // Statuses
  --color-text-success: var(--palette--6);
  --color-text-error: var(--palette--10);

  // Scrollbar
  --scrollbar-background-color: transparent;
  --scrollbar-thumb-color: var(--palette--23);
}