:root {
  --font-family--base: "Geist", "Roboto", "Arial", "Helvetica", sans-serif;

  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --transition-default: all var(--transition-duration) var(--transition-timing-function);

  --border-radius--1: 0.5rem;
  --border-radius--2: 0.75rem;

  --palette--1: #2F2E2E;
  --palette--2: #FFFFFF;
  --palette--3: #E9E9E9;
  --palette--4: #E8EFFF;
  --palette--5: #1657FF;
  --palette--6: #27AE60;
  --palette--7: #FFAB36;
  --palette--8: #999999;
  --palette--9: #FAE7E7;
  --palette--10: #FA4040;
  --palette--11: #94B2E4;
  --palette--12: #F2EFF6;
  --palette--13: #F9F9F9;
  --palette--14: #EFEFEF;
  --palette--15: #E4F1E9;
  --palette--16: #4E80FD;
  --palette--17: #FDC270;
  --palette--18: #F9E7E7;
  --palette--19: #f9e7e780;
  --palette--20: #E2E9FA;
  --palette--21: #e3eafa80;

  // main theme for the whole project
  --color-text--1: var(--palette--1);
  --color-background--1: var(--palette--2);
  --color-background-gradient-1: linear-gradient(180deg, var(--palette--11), var(--palette--12));

  // dark theme
  --color-text--2: var(--palette--2);
  --color-background--2: var(--palette--1);

  // theme for the list of pages
  --color-text--3: var(--palette--8);
  --color-background--3: var(--palette--13);

  // Base button
  --color-text--button: var(--palette--8);
  --color-background--button: var(--palette--13);
  --color-border--button: var(--palette--13);
  --color-text-hover--button: var(--palette--8);
  --color-background-hover--button: var(--palette--14);
  --color-border-hover--button: var(--palette--14);
}